@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 30px;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

.header {
  grid-column: 1/3;
}

.house-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.house-item {
  list-style: none;
  cursor: pointer;
  transition: .3s transform;
  font-size: 12px;
}

.house-item:hover {
  transform: scale(1.05);
}

.active {
  color: #2f78a9;
}

.main {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: -30px;
}

.section {
  margin: 30px;
}

.entrance-title {
  margin-left: 38px;
  font-size: 14px;
}

.floor {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-gap: 8px;
}

.floor__title {
  text-align: right;
}

.build {
  display: flex;
  margin: -4px;
}

.flat {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #161e25;
  color: #f3f3f3;
  margin: 4px;
  cursor: pointer;
  font-size: 10px;
  position: relative;
  overflow: hidden;
}

.label:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #00fff3;
  right: -5px;
  top: -5px;
  transform: rotate(45deg);
}

.default-color {
  background-color: #ff8484;
}
.gray-color {
  background-color: #a9a9a9;
}
.orange-color {
  background-color: #ff9d39;
}
.yellow-color {
  background-color: #dbb000;
}
.blue-color {
  background-color: #1e6dda;
}
.green-color {
  background-color: #5de13a;
}

.back-stage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000060;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  padding: 32px;
  border-radius: 8px;
  background-color: #fcfcfc;
  position: relative;
  font-size: 16px;
}

.modal__text:not(:last-child) {
  margin-bottom: 15px;
}


.modal__btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
  color: #24312e;
  transition: .3s color;
}
.modal__btn:hover {
  color: #2f78a9;
}

.filter-field {
  padding: 5px;
  border-bottom: 1px solid #c9c9c9;
}

.checkbox-field {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-input {
  margin-left: 8px;
}
